:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;

    color: rgba(255, 255, 255, 0.87);
    background-color: #FFFFFF;
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    text-decoration: inherit;
    color: #646CFF;
}

a:hover {
    color: #535BF2;
}

body {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    justify-items: left;
    /*place-items: center;*/
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: #000000;
}

p {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
    color: #000000;
}

button {
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    margin-left: 10px;
    padding: 0.6em 1.2em;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #000000;
    border: 2px solid #767676;
    border-radius: 8px;
    background-color: #EFEFEF;
}

button:hover {
    border: 2px solid #646CFF;
    background-color: #E0E0E5;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #FFFFFF;
    }

    a:hover {
        color: #747BFF;
    }

    button {
        background-color: #F9F9F9;
    }
}
